.newproject_container{
    width: 450px;/*largura*/
    margin: 0 auto;/*centralizar na tela*/
    padding: 3em; /*preenchimento interno*/
}

.newproject_container h1 {
    margin-bottom: 0.5em; /* afastar o conteudo que esta em baixo*/
}

.newproject_container p {
    color: #7b7b7b;
}